<EditForm Model="producto" OnValidSubmit="onValidSubbmit">

	<div class="form-group">
		<label>Codigo Producto</label>
		<div>
			<InputNumber class="form-control" @bind-Value="@producto.CodProducto" />
			<ValidationMessage For="@(() => producto.CodProducto)"/>
		</div>
	</div>
	<div class="form-group">
		<label>Nombre Producto</label>
		<div>
		<InputText class="form-control" @bind-Value="@producto.NombreProducto" />
		<ValidationMessage For="@(() => producto.NombreProducto)" />
		</div>
	</div>

	<div class="form-group">
		<label>Precio Producto</label>
		<div>
			<InputNumber class="form-control" @bind-Value="@producto.PrecioProducto" />
			<ValidationMessage For="@(() => producto.PrecioProducto)" />
		</div>
	</div>

	<div class="form-group">
		<label>Stock Producto</label>
		<div>
			<InputNumber class="form-control" @bind-Value="@producto.Stock" />
			<ValidationMessage For="@(() => producto.Stock)" />
		</div>
	</div>

	<br/>
	<button class="btn btn-primary" type="submit">Aceptar</button>
	<DataAnnotationsValidator />
</EditForm>
@code {
	[Parameter] public ProductoDTO producto{ get; set; }
	[Parameter] public EventCallback onValidSubbmit { get; set; }
	//CodProducto = productoDTO.CodProducto,
	//NombreProducto = productoDTO.NombreProducto,
	//PrecioProducto = productoDTO.PrecioProducto,
	//Stock = productoDTO.Stock
}